<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

    <link rel="stylesheet" href="dist/css/icon.css">
    <link rel="stylesheet" href="dist/css/style.css">

    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet" href="dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

    <title>Hello, Admin!</title>
  </head>
  <body>
    
        <div class="bmd-layout-container bmd-drawer-f-l">
                <header class="bmd-layout-header">
                  <div class="navbar navbar-light bg-faded">

                    <button class="navbar-toggler" type="button" data-toggle="drawer" data-target="#dw-s1">
                      <span class="sr-only">Toggle drawer</span>
                      <i class="material-icons">menu</i>
                    </button>

                    <div class="navbar-header">
                        <a class="navbar-brand" href="index.html">Admin Server</a>
                    </div>
                    <!-- /.navbar-header -->

                    <ul class="nav navbar-top-links navbar-right">
                        <div class="dropdown pull-xs-right">
                            <button class="btn bmd-btn-icon dropdown-toggle" type="button" id="lr1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="material-icons">more_vert</i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="lr1">
                              <button class="dropdown-item" type="button">Action</button>
                              <button class="dropdown-item" type="button">Another action</button>
                              <button class="dropdown-item disabled" type="button">Disabled action</button>
                              <div class="dropdown-divider"> </div>
                              <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </div>
                    </ul>

                  </div>
                </header>

                <div id="dw-s1" class="bmd-layout-drawer bg-faded">
                  <header>
                    <a class="navbar-brand text-center">Pinter.In</a>
                  </header>
                  <ul class="list-group text-center" style="margin:auto;">
                        <a href="">
                            <img src="assets/dashboard.png" alt="..." style="height:90px;width: 90px;">
                            <p style="color:grey">DASHBOARD</p>  
                        </a>
                        <br>
                        <a href="">
                            <img src="assets/course.png" alt="..." style="height:90px;width: 90px;">
                            <p style="color:grey">COURSES</p>  
                        </a>
                        <br>
                        <a href="">
                            <img src="assets/grades.png" alt="..." style="height:90px;width: 90px;">
                            <p style="color:grey">GRADES</p>  
                        </a>
                        <br>
                        <a href="">
                            <img src="assets/event.png" alt="..." style="height:90px;width: 90px;">
                            <p style="color:grey">EVENTS</p>  
                        </a>
                  </ul>
                </div>

                <main class="bmd-layout-content">
                  <div class="container" style="min-height:640px">
                    <br>
                    <p>
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi inventore vero, repudiandae non similique blanditiis quidem et accusantium quis at laborum dolorem expedita ea officiis, quae quas, ullam soluta vel?  
                    </p>
                    <br>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi inventore vero, repudiandae non similique blanditiis quidem et accusantium quis at laborum dolorem expedita ea officiis, quae quas, ullam soluta vel?  
                    </p>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi inventore vero, repudiandae non similique blanditiis quidem et accusantium quis at laborum dolorem expedita ea officiis, quae quas, ullam soluta vel?  
                    </p>
                  </div>
                </main>
              </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="dist/js/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
<script src="dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
<script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
  </body>
</html>